{% extends 'base.html' %}
{% load static %}
{% block title %}
    Precios
{% endblock %}
{% block content %}

    <section class="w3l-contact mt-5">
        <div class="contacts-9 py-5 mt-5">
            <div class="container py-lg-3">
                <h3 class="head">Precios </h3>
                <p class="mt-3">El servicio de provisión del sistema PAGOLINK por parte de ADREST DEL ECUADOR mantendrá
                    el siguiente cuadro tarifario por servicios administrativos y de mantenimiento, que será
                    aplicado al comprador final de bienes y servicios administrados a través del sistema
                    PAGOLINK:</p>
                <table class="table table-striped mt-3">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Monto de venta (USD)</th>
                        <th scope="col">Tarifa</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1 - 100</td>
                        <td>3% + 0.20</td>
                    </tr>
                    <tr>
                        <td>101 - 500</td>
                        <td>2.5% + 0.20</td>
                    </tr>
                    <tr>
                        <td>501 – 1.000</td>
                        <td>2% + 0.20</td>
                    </tr>
                    <tr>
                        <td>Más de 1.000</td>
                        <td>1.5% + 0.20</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>


{% endblock %}