{% load static %}
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="{% static 'dashboard/dist/img/avatar5.png' %}" class="img-circle elevation-2"
                 alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">{{ request.user.first_name }} {{ request.user.last_name }}</a>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
            data-accordion="false">

            <li class="nav-item">
                <a href="{% url 'dashboard' %}" class="nav-link">
                    <i class="nav-icon fa fa-home"></i>
                    <p>
                        Inicio
                    </p>
                </a>
            </li>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-link"></i>
                    <p>
                        Pago Link
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'links' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Ver todos</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'links_add' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Crear nuevo</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="{% url 'sales' %}" class="nav-link">
                    <i class="nav-icon far fa-money-bill-alt"></i>
                    <p>
                        Ventas
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'refunds' %}" class="nav-link">
                    <i class="nav-icon fas fa-undo-alt"></i>
                    <p>
                        Devoluciones
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'payment_method' %}" class="nav-link">
                    <i class="nav-icon fa fa-credit-card"></i>
                    <p>
                        Método de pago
                    </p>
                </a>
            </li>

            {% if request.user.is_staff %}
                <li class="nav-header">ADMINISTRADOR</li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-user-friends"></i>
                        <p>
                            Vendedores
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'customers' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Todos los vendedores</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'customers_add' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Agregar nuevo</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{% url 'refunds_admin' %}" class="nav-link">
                        <i class="nav-icon fa fa-exchange-alt"></i>
                        <p>
                            Reembolsos
                        </p>
                    </a>
                </li>
            {% endif %}

        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>