{% extends 'dashboard/base/baseadmin.html' %}
{% block title %}
    Agregar nuevo vendedor
{% endblock %}

{% block content %}

    <section class="content py-4">
        <div class="container-fluid">
            {% if success %}
                <div class="alert alert-success">
                    Vendedor registrado con éxito. <a href="{% url 'customers' %}">Ver todos</a>
                </div>
            {% endif %}
            {% for error in errors %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endfor %}
            <div class="row">

                <div class="col-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">Agregar nuevo vendedor</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Nombres</label>
                                            {{ form.firstname }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Apellidos</label>
                                            {{ form.lastname }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Cédula de indentidad</label>
                                            {{ form.identified }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Nro de celular</label>
                                            {{ form.phone }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Correo electrónico</label>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Contraseña</label>
                                            {{ form.password }}
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}