<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>PagoLink</title>
</head>
<body>

<div style="padding:20px 15%;font-family:'ubuntu',proxima_nova,'Open Sans','Segoe UI',Arial,Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif';">

    <h2 style="text-align:center;"><strong>¡Invitación para pagar!</strong></h2><br>

    <p>
        Hola {{ name }},<br><br>
        {{ seller }} te ha enviado una invitación para pagar<br><br>
        <strong>DETALLES</strong><br><br>
        Producto &nbsp;: <strong>{{ product }}</strong><br>
        <br>
        Subtotal &nbsp;: <strong>$. {{ subtotal }}</strong><br>
        Impuesto &nbsp;: <strong>$. {{ igv }}</strong><br>
        Precio Total &nbsp;: <strong>$. {{ ammount_total }}</strong><br>
    </p>
    <h3>PAGA AHORA</h3>
    <p>Haz clic aquí y paga.</p>
    <a href="https://pagolinkec.com/pagoseguro/{{ link }}">Pagar Ahora</a>
    <p style="text-align: center;">&nbsp;</p>
    <p>&nbsp;</p>
    <p style="border-bottom:1px solid #eee"></p><br>
    <p style="text-align: center;color:#666;font-size:12px">
        Copyright © 2020 PagoLink. Todos los derechos reservados.<br>
        Correo: pagoslinkexpress@gmail.com<br>
        WhatsApp: +593 99 059 2974<Br>
    </p>
    <p>
        &nbsp;
    </p>

</div>
</body>
</html>